# Student Grades Prediction Project

In [118]:
import pandas as pd
import numpy as np

In [119]:
df=pd.read_csv('https://raw.githubusercontent.com/dsrscientist/dataset4/main/Grades.csv')
df

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [120]:
# checking for null values
df.isnull().sum()

Seat No.      0
PH-121        0
HS-101        0
CY-105        1
HS-105/12     1
MT-111        2
CS-105        0
CS-106        2
EL-102        2
EE-119        2
ME-107        2
CS-107        2
HS-205/20     5
MT-222        5
EE-222        7
MT-224        7
CS-210        7
CS-211        5
CS-203        5
CS-214        6
EE-217        6
CS-212        6
CS-215        6
MT-331        9
EF-303       10
HS-304       10
CS-301       10
CS-302       10
TC-383       10
MT-442       10
EL-332        9
CS-318        9
CS-306        9
CS-312       10
CS-317       12
CS-403       12
CS-421       12
CS-406       85
CS-414       13
CS-419       13
CS-423       14
CS-412       79
CGPA          0
dtype: int64

In [142]:
# converting categorical data to continuous data
grades={'A+':10, 'A':9, 'A-':8, 'B+':7, 'B':6, 'B-':5, 'C+':4, 'C':3, 'C-':2, 'D+':1, 'D':0, 'WU':0, 'F':0, 'I':0, 'W':0}

In [143]:
df=df.replace(grades)
df

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,5,1,2.0,3.0,2.0,1,0.0,2.0,5.0,2.0,...,2.0,2.0,2.0,2.0,8.0,9.0,2.0,6.0,8.0,2.205
1,9,0,1.0,0.0,5.0,3,0.0,9.0,1.0,0.0,...,1.0,0.0,3.0,0.0,8.0,5.0,3.0,3.0,6.0,2.008
2,9,6,9.0,5.0,7.0,9,5.0,7.0,8.0,8.0,...,6.0,6.0,9.0,3.0,9.0,9.0,9.0,8.0,9.0,3.608
3,0,4,1.0,0.0,0.0,8,1.0,2.0,0.0,4.0,...,1.0,3.0,1.0,2.0,5.0,6.0,4.0,4.0,4.0,1.906
4,8,8,8.0,7.0,9.0,9,8.0,7.0,9.0,8.0,...,5.0,7.0,7.0,5.0,8.0,9.0,8.0,8.0,9.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,6,9,9.0,8.0,10.0,9,8.0,8.0,10.0,7.0,...,8.0,8.0,9.0,9.0,9.0,7.0,7.0,6.0,9.0,3.798
567,10,9,9.0,9.0,9.0,9,9.0,8.0,9.0,9.0,...,7.0,7.0,9.0,9.0,8.0,6.0,8.0,3.0,8.0,3.772
568,6,9,8.0,7.0,9.0,9,9.0,9.0,9.0,6.0,...,8.0,6.0,9.0,7.0,9.0,3.0,7.0,8.0,8.0,3.470
569,9,7,0.0,9.0,0.0,1,5.0,2.0,5.0,2.0,...,0.0,6.0,6.0,2.0,0.0,3.0,6.0,5.0,3.0,2.193
570,3,0,0.0,3.0,3.0,1,6.0,4.0,3.0,1.0,...,4.0,3.0,5.0,0.0,0.0,2.0,7.0,0.0,2.0,1.753

In [144]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 417 entries, 0 to 570
Data columns (total 42 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   PH-121     417 non-null    int64
 1   HS-101     417 non-null    int64
 2   CY-105     417 non-null    float64
 3   HS-105/12  417 non-null    float64
 4   MT-111     417 non-null    float64
 5   CS-105     417 non-null    int64
 6   CS-106     417 non-null    float64
 7   EL-102     417 non-null    float64
 8   EE-119     417 non-null    float64
 9   ME-107     417 non-null    float64
 10  CS-107     417 non-null    float64
 11  HS-205/20  417 non-null    float64
 12  MT-222     417 non-null    float64
 13  EE-222     417 non-null    float64
 14  MT-224     417 non-null    float64
 15  CS-210     417 non-null    float64
 16  CS-211     417 non-null    float64
 17  CS-203     417 non-null    float64
 18  CS-214     417 non-null    float64
 19  EE-217     417 non-null    float64
 20  CS-212     417 non-null    float64
 21  CS-215     417 non-null    float64
 22  MT-331     417 non-null    float64
 23  EF-303     417 non-null    float64
 24  HS-304     417 non-null    float64
 25  CS-301     417 non-null    float64
 26  CS-302     417 non-null    float64
 27  TC-383     417 non-null    float64
 28  MT-442     417 non-null    float64
 29  EL-332     417 non-null    float64
 30  CS-318     417 non-null    float64
 31  CS-306     417 non-null    float64
 32  CS-312     417 non-null    float64
 33  CS-317     417 non-null    float64
 34  CS-403     417 non-null    float64
 35  CS-421     417 non-null    float64
 36  CS-406     417 non-null    float64
 37  CS-414     417 non-null    float64
 38  CS-419     417 non-null    float64
 39  CS-423     417 non-null    float64
 40  CS-412     417 non-null    float64
 41  CGPA       417 non-null    float64
dtypes: float64(39), int64(3)
memory usage: 140.1 KB

In [145]:
df.describe()

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
count,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,...,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000
mean,6.973621,4.875300,7.326139,5.961631,5.853717,7.714628,5.621103,5.815348,6.508393,5.448441,...,4.973621,5.129496,6.366906,4.285372,6.952038,7.136691,6.172662,5.211031,6.757794,2.990386
std,2.335301,2.669952,2.317183,3.088201,2.785642,2.013799,2.717524,2.745093,2.183978,2.977940,...,2.935488,2.575311,2.604943,2.517745,2.258020,2.141176,2.193505,2.575508,2.212583,0.578246
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.708000
25%,6.000000,3.000000,7.000000,4.000000,4.000000,7.000000,4.000000,4.000000,5.000000,3.000000,...,2.000000,3.000000,5.000000,2.000000,6.000000,6.000000,5.000000,3.000000,6.000000,2.603000
50%,8.000000,5.000000,8.000000,7.000000,6.000000,8.000000,6.000000,6.000000,7.000000,6.000000,...,5.000000,5.000000,7.000000,4.000000,8.000000,8.000000,7.000000,6.000000,8.000000,3.033000
75%,9.000000,7.000000,9.000000,9.000000,8.000000,9.000000,8.000000,8.000000,8.000000,8.000000,...,8.000000,7.000000,9.000000,6.000000,8.000000,9.000000,8.000000,8.000000,8.000000,3.452000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,3.985000

In [146]:
df.columns

Index(['PH-121', 'HS-101', 'CY-105', 'HS-105/12', 'MT-111', 'CS-105', 'CS-106',
       'EL-102', 'EE-119', 'ME-107', 'CS-107', 'HS-205/20', 'MT-222', 'EE-222',
       'MT-224', 'CS-210', 'CS-211', 'CS-203', 'CS-214', 'EE-217', 'CS-212',
       'CS-215', 'MT-331', 'EF-303', 'HS-304', 'CS-301', 'CS-302', 'TC-383',
       'MT-442', 'EL-332', 'CS-318', 'CS-306', 'CS-312', 'CS-317', 'CS-403',
       'CS-421', 'CS-406', 'CS-414', 'CS-419', 'CS-423', 'CS-412', 'CGPA'],
      dtype='object')

In [148]:
X=df.drop(['CGPA'], axis=1)
y=df['CGPA']

In [149]:
y

0      2.205
1      2.008
2      3.608
3      1.906
4      3.448
       ...
566    3.798
567    3.772
568    3.470
569    2.193
570    1.753
Name: CGPA, Length: 417, dtype: float64

In [150]:
X

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,5,1,2.0,3.0,2.0,1,0.0,2.0,5.0,2.0,...,3.0,2.0,2.0,2.0,2.0,8.0,9.0,2.0,6.0,8.0
1,9,0,1.0,0.0,5.0,3,0.0,9.0,1.0,0.0,...,0.0,1.0,0.0,3.0,0.0,8.0,5.0,3.0,3.0,6.0
2,9,6,9.0,5.0,7.0,9,5.0,7.0,8.0,8.0,...,8.0,6.0,6.0,9.0,3.0,9.0,9.0,9.0,8.0,9.0
3,0,4,1.0,0.0,0.0,8,1.0,2.0,0.0,4.0,...,2.0,1.0,3.0,1.0,2.0,5.0,6.0,4.0,4.0,4.0
4,8,8,8.0,7.0,9.0,9,8.0,7.0,9.0,8.0,...,8.0,5.0,7.0,7.0,5.0,8.0,9.0,8.0,8.0,9.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,6,9,9.0,8.0,10.0,9,8.0,8.0,10.0,7.0,...,7.0,8.0,8.0,9.0,9.0,9.0,7.0,7.0,6.0,9.0
567,10,9,9.0,9.0,9.0,9,9.0,8.0,9.0,9.0,...,8.0,7.0,7.0,9.0,9.0,8.0,6.0,8.0,3.0,8.0
568,6,9,8.0,7.0,9.0,9,9.0,9.0,9.0,6.0,...,7.0,8.0,6.0,9.0,7.0,9.0,3.0,7.0,8.0,8.0
569,9,7,0.0,9.0,0.0,1,5.0,2.0,5.0,2.0,...,7.0,0.0,6.0,6.0,2.0,0.0,3.0,6.0,5.0,3.0
570,3,0,0.0,3.0,3.0,1,6.0,4.0,3.0,1.0,...,1.0,4.0,3.0,5.0,0.0,0.0,2.0,7.0,0.0,2.0

In [151]:
df.describe()

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
count,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,...,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000
mean,6.973621,4.875300,7.326139,5.961631,5.853717,7.714628,5.621103,5.815348,6.508393,5.448441,...,4.973621,5.129496,6.366906,4.285372,6.952038,7.136691,6.172662,5.211031,6.757794,2.990386
std,2.335301,2.669952,2.317183,3.088201,2.785642,2.013799,2.717524,2.745093,2.183978,2.977940,...,2.935488,2.575311,2.604943,2.517745,2.258020,2.141176,2.193505,2.575508,2.212583,0.578246
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.708000
25%,6.000000,3.000000,7.000000,4.000000,4.000000,7.000000,4.000000,4.000000,5.000000,3.000000,...,2.000000,3.000000,5.000000,2.000000,6.000000,6.000000,5.000000,3.000000,6.000000,2.603000
50%,8.000000,5.000000,8.000000,7.000000,6.000000,8.000000,6.000000,6.000000,7.000000,6.000000,...,5.000000,5.000000,7.000000,4.000000,8.000000,8.000000,7.000000,6.000000,8.000000,3.033000
75%,9.000000,7.000000,9.000000,9.000000,8.000000,9.000000,8.000000,8.000000,8.000000,8.000000,...,8.000000,7.000000,9.000000,6.000000,8.000000,9.000000,8.000000,8.000000,8.000000,3.452000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,3.985000

In [152]:
df=df.dropna()

In [153]:
df.describe()

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
count,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,...,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000
mean,6.973621,4.875300,7.326139,5.961631,5.853717,7.714628,5.621103,5.815348,6.508393,5.448441,...,4.973621,5.129496,6.366906,4.285372,6.952038,7.136691,6.172662,5.211031,6.757794,2.990386
std,2.335301,2.669952,2.317183,3.088201,2.785642,2.013799,2.717524,2.745093,2.183978,2.977940,...,2.935488,2.575311,2.604943,2.517745,2.258020,2.141176,2.193505,2.575508,2.212583,0.578246
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.708000
25%,6.000000,3.000000,7.000000,4.000000,4.000000,7.000000,4.000000,4.000000,5.000000,3.000000,...,2.000000,3.000000,5.000000,2.000000,6.000000,6.000000,5.000000,3.000000,6.000000,2.603000
50%,8.000000,5.000000,8.000000,7.000000,6.000000,8.000000,6.000000,6.000000,7.000000,6.000000,...,5.000000,5.000000,7.000000,4.000000,8.000000,8.000000,7.000000,6.000000,8.000000,3.033000
75%,9.000000,7.000000,9.000000,9.000000,8.000000,9.000000,8.000000,8.000000,8.000000,8.000000,...,8.000000,7.000000,9.000000,6.000000,8.000000,9.000000,8.000000,8.000000,8.000000,3.452000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,3.985000

In [154]:
df

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,5,1,2.0,3.0,2.0,1,0.0,2.0,5.0,2.0,...,2.0,2.0,2.0,2.0,8.0,9.0,2.0,6.0,8.0,2.205
1,9,0,1.0,0.0,5.0,3,0.0,9.0,1.0,0.0,...,1.0,0.0,3.0,0.0,8.0,5.0,3.0,3.0,6.0,2.008
2,9,6,9.0,5.0,7.0,9,5.0,7.0,8.0,8.0,...,6.0,6.0,9.0,3.0,9.0,9.0,9.0,8.0,9.0,3.608
3,0,4,1.0,0.0,0.0,8,1.0,2.0,0.0,4.0,...,1.0,3.0,1.0,2.0,5.0,6.0,4.0,4.0,4.0,1.906
4,8,8,8.0,7.0,9.0,9,8.0,7.0,9.0,8.0,...,5.0,7.0,7.0,5.0,8.0,9.0,8.0,8.0,9.0,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,6,9,9.0,8.0,10.0,9,8.0,8.0,10.0,7.0,...,8.0,8.0,9.0,9.0,9.0,7.0,7.0,6.0,9.0,3.798
567,10,9,9.0,9.0,9.0,9,9.0,8.0,9.0,9.0,...,7.0,7.0,9.0,9.0,8.0,6.0,8.0,3.0,8.0,3.772
568,6,9,8.0,7.0,9.0,9,9.0,9.0,9.0,6.0,...,8.0,6.0,9.0,7.0,9.0,3.0,7.0,8.0,8.0,3.470
569,9,7,0.0,9.0,0.0,1,5.0,2.0,5.0,2.0,...,0.0,6.0,6.0,2.0,0.0,3.0,6.0,5.0,3.0,2.193
570,3,0,0.0,3.0,3.0,1,6.0,4.0,3.0,1.0,...,4.0,3.0,5.0,0.0,0.0,2.0,7.0,0.0,2.0,1.753

In [155]:
df.isnull().sum()

PH-121       0
HS-101       0
CY-105       0
HS-105/12    0
MT-111       0
CS-105       0
CS-106       0
EL-102       0
EE-119       0
ME-107       0
CS-107       0
HS-205/20    0
MT-222       0
EE-222       0
MT-224       0
CS-210       0
CS-211       0
CS-203       0
CS-214       0
EE-217       0
CS-212       0
CS-215       0
MT-331       0
EF-303       0
HS-304       0
CS-301       0
CS-302       0
TC-383       0
MT-442       0
EL-332       0
CS-318       0
CS-306       0
CS-312       0
CS-317       0
CS-403       0
CS-421       0
CS-406       0
CS-414       0
CS-419       0
CS-423       0
CS-412       0
CGPA         0
dtype: int64

In [156]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error

In [157]:
X_train, X_test, y_train, y_test=train_test_split(X,y, test_size=0.1, random_state=0)

In [158]:
y

0      2.205
1      2.008
2      3.608
3      1.906
4      3.448
       ...
566    3.798
567    3.772
568    3.470
569    2.193
570    1.753
Name: CGPA, Length: 417, dtype: float64

In [160]:

y_test.count()

42

In [161]:
reg = LinearRegression()

In [162]:
reg.fit(X_train, y_train)
reg

LinearRegression()

In [163]:
y_pred = reg.predict(X_test)
y_pred

array([2.80161831, 3.38446404, 2.75484411, 3.80519001, 3.98114147,
       2.21072925, 3.19542742, 2.68736406, 2.91105257, 3.46759477,
       3.52666444, 2.55293256, 3.13092822, 2.38827176, 3.88684841,
       3.1997463 , 2.02172424, 2.39206771, 2.75660954, 3.70717837,
       3.56787784, 3.31643284, 3.00692663, 3.02209112, 3.32797807,
       3.8330593 , 3.1122258 , 2.49425592, 3.94025697, 3.39151831,
       2.59874108, 3.07847262, 1.78245544, 2.76003529, 2.30234567,
       3.31943855, 3.32497056, 3.5966383 , 3.34690784, 2.60877534,
       2.27380538, 2.81156688])

In [164]:
# Analysing Predicted and Actual values 
ndf = pd.DataFrame({'Actual':y_test, 'Predicted':y_pred})
ndf

     Actual  Predicted
562   2.821   2.801618
177   3.369   3.384464
231   2.701   2.754844
542   3.816   3.805190
459   3.942   3.981141
458   2.206   2.210729
157   3.182   3.195427
10    2.681   2.687364
21    2.956   2.911053
268   3.473   3.467595
500   3.481   3.526664
61    2.564   2.552933
558   3.172   3.130928
205   2.347   2.388272
503   3.863   3.886848
78    3.193   3.199746
527   1.957   2.021724
171   2.350   2.392068
12    2.792   2.756610
195   3.705   3.707178
497   3.583   3.567878
37    3.332   3.316433
546   3.019   3.006927
55    3.010   3.022091
152   3.365   3.327978
437   3.831   3.833059
206   3.094   3.112226
261   2.484   2.494256
529   3.876   3.940257
460   3.405   3.391518
526   2.659   2.598741
246   3.058   3.078473
94    1.805   1.782455
15    2.777   2.760035
279   2.298   2.302346
535   3.365   3.319439
452   3.332   3.324971
148   3.625   3.596638
76    3.378   3.346908
256   2.605   2.608775
512   2.288   2.273805
80    2.815   2.811567

In [165]:
new_data = pd.DataFrame({
 'PH-121':[6], 'HS-101':[5], 'CY-105':[7], 'HS-105/12':[6], 'MT-111':[6],
 'CS-105':[8], 'CS-106':[7], 'EL-102':[0], 'EE-119':[1], 'ME-107':[3],
 'CS-107':[5], 'HS-205/20':[10],
 'MT-222':[8], 'EE-222':[0], 'MT-224':[4], 'CS-210':[6], 'CS-211':[10],
 'CS-203':[1], 'CS-214':[2],
 'EE-217':[9], 'CS-212':[4], 'CS-215':[0], 'MT-331':[6], 'EF-303':[7],
 'HS-304':[4], 'CS-301':[1],
 'CS-302':[10], 'TC-383':[2], 'MT-442':[0], 'EL-332':[7], 'CS-318':[1],
 'CS-306':[3], 'CS-312':[3],
 'CS-317':[1], 'CS-403':[9], 'CS-421':[8], 'CS-406':[0], 'CS-414':[2],
 'CS-419':[7], 'CS-423':[2],
 'CS-412':[3]
})

In [166]:
new_data

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,6,5,7,6,6,8,7,0,1,3,...,3,3,1,9,8,0,2,7,2,3

In [167]:
reg.predict(new_data)

array([2.45915212])

In [168]:
r2 = r2_score(y_test,y_pred)
print('R-Squared Value',r2)

R-Squared Value 0.9970588279135447

In [169]:
rmse = mean_squared_error(y_test, y_pred,squared=True)
rmse

0.0008752130161292651

In [170]:
df.describe()

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
count,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,...,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000,417.000000
mean,6.973621,4.875300,7.326139,5.961631,5.853717,7.714628,5.621103,5.815348,6.508393,5.448441,...,4.973621,5.129496,6.366906,4.285372,6.952038,7.136691,6.172662,5.211031,6.757794,2.990386
std,2.335301,2.669952,2.317183,3.088201,2.785642,2.013799,2.717524,2.745093,2.183978,2.977940,...,2.935488,2.575311,2.604943,2.517745,2.258020,2.141176,2.193505,2.575508,2.212583,0.578246
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.708000
25%,6.000000,3.000000,7.000000,4.000000,4.000000,7.000000,4.000000,4.000000,5.000000,3.000000,...,2.000000,3.000000,5.000000,2.000000,6.000000,6.000000,5.000000,3.000000,6.000000,2.603000
50%,8.000000,5.000000,8.000000,7.000000,6.000000,8.000000,6.000000,6.000000,7.000000,6.000000,...,5.000000,5.000000,7.000000,4.000000,8.000000,8.000000,7.000000,6.000000,8.000000,3.033000
75%,9.000000,7.000000,9.000000,9.000000,8.000000,9.000000,8.000000,8.000000,8.000000,8.000000,...,8.000000,7.000000,9.000000,6.000000,8.000000,9.000000,8.000000,8.000000,8.000000,3.452000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,...,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,3.985000